
#provisualizer form {
	position: absolute;
	left: 0;
	top: 0;
	width: auto;
	
	font-family: sans-serif;
	background-color: #F0F0F7;
	border: 1px solid black;
	padding: 10px;
	-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.35);
	-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.35);
	box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.35);
}

#provisualizer select {	font-family: sans-serif;

}
#provisualizer label {
	margin-left: 5px;
}
#provisualizer input {
	width: auto;
	margin-left: 5px;
	margin-right: 5px;
}
#provisualizer input[type=text]
{
	height: 2em;
}



#provisualizer .link {
  stroke: #CCCCCC;
  stroke-width: 3px;
}


#provisualizer circle.node {
  cursor: move;
  stroke-width: 2px;
}

#provisualizer circle.function {
  fill: #5082E6;
  stroke: #304E8A;
}

#provisualizer circle.agency {
  fill: #F2A915;
  stroke: #91650D;
}

#provisualizer circle.fixed {
  stroke-width: 4px;
}


#provisualizer text.label {
	font-family: sans-serif;
	 font-size: 18px; 
	 paint-order: stroke; 
	 stroke: white; 
	 stroke-width: 0px;
/*	 stroke-width: 3px;*/
	 stroke-opacity: 50%;
	 stroke-linecap: butt; 
	 stroke-linejoin: miter; 
	 fill: black;
}

#provisualizer text.label.function {
	font-size: 16px;
}

#provisualizer text.label.agency {
	font-size: 12px;
}
#provisualizer {
	position: relative;
	padding: 0;
	overflow: clip;
}

