@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);

#provisualizer {
	/*
	container-type: size;
	container-name: provisualizer;
	*/
	box-sizing: border-box;
	position: relative;
	padding: 0;
	/*
	background-color: white;
	background-color: cyan;
	*/
	font-family: 'PT Sans', sans-serif;
	font-size: 10pt;
	display: flex;
	flex-direction: column;
	/*justify-content: stretch;*/
}

/* container for the two SVG images: the key, and the visualisation */
#provisualizer div.visualizationContainer {
	container-type: size;
	container-name: visualizationContainer;
	position: relative;
	/*display: flex;
	justify-content: stretch;
	*/
	flex-basis: 1;
	flex-grow: 1;
	flex-shrink: 1;
	height: 60vh;
	/*
	*/
	/*
	border-width: 1px;
	border-style: solid;
	border-color: green;
	*/
	
	/*background-color: greenyellow;*/
}

#provisualizer svg.visualization {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
}



@container visualizationContainer (orientation: landscape) {
	/* Styles for landscape orientation */

	/* the key or legend */
	.key {
  		top: 50%;
  		transform: translateY(-50%); /* Adjusts for the item's own height */
		left: 0;
		margin-left: 2em;
	}
}
@container visualizationContainer (orientation: portrait) {
	/* Styles for landscape orientation */

	/* the key or legend */
	.key {
		bottom: 0;
		margin-bottom: 2em;
		left: 50%;
  		transform: translateX(-50%); /* Adjusts for the item's own height */
	}
}


#provisualizer #toolbar {
	background-color: white;
	text-align: center;
	flex-shrink: 0;
	left: 0;
	top: 0;
}
#provisualizer #toolbar h1 {
	margin: 1pt;
	border: none;
}
#provisualizer #toolbar p {
	margin: 1pt;
}
#provisualizer form {
	border: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: auto;
	padding: 0.5em;
	margin: 0;
	font-size: 14pt;
	gap: 0.5em;
}

/* form elements */

/* Override iOS default styling of buttons */
#provisualizer input[type="submit"],
#provisualizer input[type="button"],
#provisualizer button {
  -webkit-appearance: none; /* prefixed property for certain old browsers */
  appearance: none; /* Standard property for other browsers */
}

#provisualizer label {
	font-weight: normal;
}

#provisualizer select {
	appearance: auto;
	padding: 1pt;
	width: 13em; /* just wide enough for "... or select a function" */
}


/* command buttons explicitly styled as buttons */
#provisualizer fieldset.buttons *
 {
  /* Apply desired styles for a raised grey button with black text */
  background-color: #e0e0e0; /* Light grey background */
  color: #000000; /* Black text */
  border: 1px solid #c0c0c0; /* Subtle grey border */
  border-radius: 0.125em; /* Slightly rounded corners */
  padding: 0.25em 0.5em; /* Padding for button size */
  font-family: sans-serif; /* Standard font */
  cursor: pointer; /* Indicate it's clickable */
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); /* For a raised effect */
}

/* Add hover/focus styles for interactivity */
#provisualizer fieldset.buttons * button:hover,
#provisualizer fieldset.buttons * button:focus {
  background-color: #d0d0d0; /* Slightly darker on hover/focus */
  outline: none; /* Remove default focus outline */
}
#provisualizer input,
#provisualizer select {
	font-size: 10pt;
}

#provisualizer-help {
	padding: 0;
	background-color: #f9e53c;
	font-family: 'PT Sans', sans-serif;
	font-size: 10pt;
}

#provisualizer .key {
	z-index: 100;
	position: absolute;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	padding: 10px;
	background-color: rgba(255,255,255,0.7);
	max-width: min(270px, 60%);
	max-height: min(150px, 30%);
	aspect-ratio: 270 / 150;
}


#provisualizer .key text.key-heading {
	fill: black;
	font-size: 20px;
	font-weight: bold;
	text-anchor: middle;
}
#provisualizer .key text.key-node-label {
	fill: black;
	font-size: 20px;
	font-weight: normal;
}
#provisualizer .key text.key-line-label {
	fill: black;
	font-size: 14px;
	font-weight: normal;
}

#share-button {
	position: absolute;
	cursor: pointer;
	bottom: 10px;
	left: 10px;
	z-index: 100;
}
#provisualizer .close-button
 {
	outline: none;
	position: absolute;
	cursor: pointer;
	background-color: white;
	top: 5px;
	right: 5px;
	margin: 0px;
}

#full-screen-button {
	position: absolute;
	cursor: pointer;
	bottom: 10px;
	right: 10px;
	z-index: 100;
}
#embed-search {
	display: none;
}

#embedding-code {
	width: 100%;
	height: 15em;
	font-size: 10pt;
	padding: 0.5em;
	box-sizing: border-box;
}

#provisualizer dialog {
	background-color: white;
	box-sizing: border-box;
	max-width: 95%; 
	max-height: 95%; 
	-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.35);
	-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.35);
	box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.35);
}

#provisualizer dialog.help {
	width: 50em; /* ... but only up to max-width */
	height: 50em; /* ... but only up to max-height */
}

#provisualizer-help {
	background-color: white;
}

#provisualizer dialog header {
	display: flex;
	justify-content: space-between;
	margin: 0;
}

#provisualizer dialog header h1 {
	font-weight: bold;
	font-size: 28px;
	display: inline-flex;
	margin: 0;
	border: 0;
}

#provisualizer dialog header button {
  display: inline; /* Makes the button behave like an inline element */
  padding: 0; /* Removes default padding */
  border: 0; /* Removes default border */
  font: inherit; /* Inherits font styles from its parent */
  cursor: pointer; /* Changes cursor to a pointer on hover */
	background-color: #f9e53c;
	/*align-self: self-start;*/
  color: currentColor; /* Inherits text color from its parent */
}

 #provisualizer dialog iframe {
 	 border-width: 0;
 	 margin: 0;
	 padding-left: 0;
	 padding-right: 0;
	 padding-top: 0;
 	 padding-bottom: 1em;
 	 height: 100%;
 	 width: 100%;
	 overflow-y: scroll;
 }

#provisualizer div.help {
	background-color: #f9e53c;
	padding: 0px;
	overflow:auto;
}
#provisualizer .embedding-guide {
  /*
  width: 36em;
  height: 17em;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  */
  text-align:center;
  
	border: 1px solid black;
	padding: 10px;
}

#provisualizer #sharing-toolbox {
	z-index: 110;
  width: 20em;
  height: 11em;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-color: white;
  text-align:center;
  
	border: 1px solid black;
	padding: 10px;
}

#provisualizer fieldset {
	border: none;
/*	border: 2px dotted cyan;*/
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	gap: 0.25em;
	padding: 0;
}

#provisualizer input {
	width: auto;
	margin-left: 5px;
	margin-right: 5px;
}
#provisualizer input[type=text]
{
	height: 2em;
}

#provisualizer td {
	vertical-align: top;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

#provisualizer .link {
  stroke: #CCCCCC;
  stroke-width: 2px;
}

#provisualizer .link.highlighted {
  stroke: #0000B2;
  stroke-width: 4px;
}

#provisualizer circle.node {
  cursor: move;
}

circle {
  stroke-width: 2px;
}

circle.VPRS {
	fill: #E65050;
	stroke: #7D2C2C;
}

circle.VF {
  fill: #5082E6;
  stroke: #304E8A;
}

circle.VA {
  fill: #F2A915;
  stroke: #91650D;
}

#provisualizer circle.fixed {
  stroke-width: 4px;
}


#provisualizer text.label {
	font-weight: normal;
	 font-size: 24px; 
	 stroke: white; 
	stroke-width: 0px;
	 stroke-opacity: 0.5;
	 stroke-linecap: butt; 
	 stroke-linejoin: miter; 
	 fill: black;
	 visibility: hidden;
	 cursor: pointer;
}
#provisualizer text.right-aligned {
	text-anchor: end;
}
#provisualizer text.label:hover {
	text-decoration: underline;
}
#provisualizer text.label.selected {
	visibility: visible;
}

/* Social media links - based on https://github.com/mattberridge/Simple-Social-Sharing-Buttons */

.ss-share {
	/*
	padding-left: 0;
	list-style: none; 
	*/
	width: 100%;
	display: flex;
	justify-content:center;
	flex-wrap: wrap;
	gap: 1em;
}

.ss-share-item {
	display: flex-item;
/*	margin: 0.4em;*/
}

.ss-share-link {
	cursor: pointer;
/* crude button styles */
text-decoration: none;
color: #444;
font-weight: bold;
padding: .5em .75em .5em 35px;
background-color: #f5f5f5;
border: 1px solid #ccc;
border-radius: 2px; }
.ss-share-link:hover, .ss-share-link:active, .ss-share-link:focus {
color: #891434; }
[class*="ico-"] {
display: inline-block;
background-size: 20px 20px;
background-repeat: no-repeat;
background-position: 10px center; }
.ico-facebook {
background-image: url("//www.facebook.com/favicon.ico"); }
.ico-x {
background-image: url("//abs.twimg.com/favicons/twitter.3.ico"); }
.ico-google {
background-image: url("//ssl.gstatic.com/s2/oz/images/faviconr2.ico"); }
.ico-email {
background-image: url("email.png"); 
}	
.ico-embed {
background-image: url("embed.png"); 
}	

