@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
/*
#provisualizer *:before, 
#provisualizer *:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
*/
#provisualizer {
	container-type: size;
	container-name: provisualizer;
	box-sizing: border-box;
	position: relative;
	padding: 0;
	background-color: white;
	font-family: 'PT Sans', sans-serif;
	font-size: 10pt;
}
#provisualizer-help {
	padding: 0;
	background-color: #f9e53c;
	font-family: 'PT Sans', sans-serif;
	font-size: 10pt;

}

#provisualizer .key {
	z-index: 100;
	position: absolute;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	padding: 10px;
	background-color: rgba(255,255,255,0.7);
	width: 250px;
	height: 150px;
	max-width: 30%;
	max-height: 30%;
	aspect-ratio: 270 / 150;
}


#provisualizer .key text.key-heading {
	fill: black;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}
#provisualizer .key text.key-node-label {
	fill: black;
	font-size: 20px;
	font-weight: normal;
}
#provisualizer .key text.key-line-label {
	fill: black;
	font-size: 14px;
	font-weight: normal;
}

@container provisualizer (orientation: landscape) {
	/* Styles for landscape orientation */

	/* the key or legend */
	.key {
  		top: 50%;
  		transform: translateY(-50%); /* Adjusts for the item's own height */
		left: 0;
		margin-left: 2em;
	}
}
@container provisualizer (orientation: portrait) {
	/* Styles for landscape orientation */

	/* the key or legend */
	.key {
		bottom: 0;
		margin-bottom: 2em;
		left: 50%;
  		transform: translateX(-50%); /* Adjusts for the item's own height */
	}
}

#provisualizer input[type="submit"],
#provisualizer input[type="button"],
/*
#provisualizer button
{
	background-color: ButtonFace !important;
	color: ButtonText !important;
	padding: 0 !important;
}
*/
#provisualizer input,
#provisualizer select {
	font-size: 10pt;
}
#share-button {
	position: absolute;
	cursor: pointer;
	bottom: 10px;
	left: 10px;
	z-index: 100;
}
#provisualizer .close-button {
	position: absolute;
	cursor: pointer;
	top: 5px;
	right: 5px;
	margin: 0px;
}
#full-screen-button {
	position: absolute;
	cursor: pointer;
	bottom: 10px;
	right: 10px;
	z-index: 100;
}
#embed-search {
	display: none;
}

#embedding-code {
	width: 35em;
	height: 11em;
	font-size: 10pt;
}

#provisualizer dialog {
	background-color: #f9e53c;
	max-width: 80%; 
	max-height: 80%; 
}

#provisualizer dialog.help {
	width: 50em; /* ... but only up to max-width */
	height: 50em; /* ... but only up to max-height */
}

#provisualizer-help {
	background-color: #f9e53c;
}

#provisualizer dialog header {
	display: flex;
	justify-content: space-between;
	margin: 0;
}

#provisualizer dialog header h1 {
	font-weight: bold;
	font-size: 28px;
	display: inline-flex;
	margin: 0;
}

#provisualizer dialog header button {
  display: inline; /* Makes the button behave like an inline element */
  padding: 0; /* Removes default padding */
  border: 0; /* Removes default border */
  font: inherit; /* Inherits font styles from its parent */
  cursor: pointer; /* Changes cursor to a pointer on hover */
	background-color: #f9e53c;
	/*align-self: self-start;*/
  color: currentColor; /* Inherits text color from its parent */
}

 #provisualizer dialog iframe {
 	 border-width: 0;
 	 margin: 0;
	 padding-left: 0;
	 padding-right: 0;
	 padding-top: 0;
 	 padding-bottom: 1em;
 	 height: 100%;
 	 width: 100%;
	 overflow-y: scroll;
 }

#provisualizer div.help {
	background-color: #f9e53c;
	padding: 0px;
	overflow:auto;
}
#provisualizer .embedding-guide {
  width: 36em;
  height: 17em;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align:center;
  
	border: 1px solid black;
	padding: 10px;
	-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.35);
	-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.35);
	box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.35);
}

#provisualizer #sharing-toolbox {
	z-index: 110;
  width: 20em;
  height: 11em;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-color: white;
  text-align:center;
  
	border: 1px solid black;
	padding: 10px;
	-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.35);
	-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.35);
	box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.35);
}

#provisualizer #toolbar {
	background-color: white;
	text-align: center;
	position: absolute;
	left: 0;
	top: 0;
	height: 150px;
	width: 100%;
}
#provisualizer #toolbar h1 {
	margin: 3px;
}
#provisualizer #toolbar p {
	margin: 3px;
}
#provisualizer form {
	width: auto;
	padding: 10px;
	margin: 0;
	/*
	position: absolute;
	left: 0;
	top: 0;
	*/
	/*
	border: 1px solid black;
	font-family: sans-serif;
	background-color: #F0F0F7;

	-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.35);
	-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.35);
	box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.35);
	*/
}

#provisualizer input {
	width: auto;
	margin-left: 5px;
	margin-right: 5px;
}
#provisualizer input[type=text]
{
	height: 2em;
}

#provisualizer td {
	vertical-align: top;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

#provisualizer .link {
  stroke: #CCCCCC;
  stroke-width: 2px;
}

#provisualizer .link.highlighted {
  stroke: #0000B2;
  stroke-width: 4px;
}

#provisualizer circle.node {
  cursor: move;
}

circle {
  stroke-width: 2px;
}

circle.VPRS {
	fill: #E65050;
	stroke: #7D2C2C;
}

circle.VF {
  fill: #5082E6;
  stroke: #304E8A;
}

circle.VA {
  fill: #F2A915;
  stroke: #91650D;
}

#provisualizer circle.fixed {
  stroke-width: 4px;
}


#provisualizer text.label {
	font-weight: normal;
	 font-size: 24px; 
	 stroke: white; 
	stroke-width: 0px;
	 stroke-opacity: 0.5;
	 stroke-linecap: butt; 
	 stroke-linejoin: miter; 
	 fill: black;
	 visibility: hidden;
	 cursor: pointer;
}
#provisualizer text.right-aligned {
	text-anchor: end;
}
#provisualizer text.label:hover {
	text-decoration: underline;
}
#provisualizer text.label.selected {
	visibility: visible;
}

/* Social media links - based on https://github.com/mattberridge/Simple-Social-Sharing-Buttons */

.ss-share {
padding-left: 0;
list-style: none; }
.ss-share-item {
display: inline-block;
margin: 0.4em;
}
.ss-share-link {
	cursor: pointer;
/* crude button styles */
text-decoration: none;
color: #444;
font-weight: bold;
padding: .5em .75em .5em 35px;
background-color: #f5f5f5;
border: 1px solid #ccc;
border-radius: 2px; }
.ss-share-link:hover, .ss-share-link:active, .ss-share-link:focus {
color: #891434; }
[class*="ico-"] {
display: inline-block;
background-size: 20px 20px;
background-repeat: no-repeat;
background-position: 10px center; }
.ico-facebook {
background-image: url("http://www.facebook.com/favicon.ico"); }
.ico-twitter {
background-image: url("http://twitter.com/favicons/favicon.ico"); }
.ico-google {
background-image: url("https://ssl.gstatic.com/s2/oz/images/faviconr2.ico"); }
.ico-email {
background-image: url("email.png"); 
}	
.ico-embed {
background-image: url("embed.png"); 
}	

